body{
    background-color: #cccccc;
    /*
    background-image: url(img/patron3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
    */
    color:black;
    text-align: justify;
    text-indent: 15px;

} 

#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(65, 45, 179);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    vertical-align: top;
}

h2{
    background: white;
    color: red;
    background-image: url(img/patron2.jpg);
    border: 5px solid red;
}